@import 'tailwindcss';

@keyframes showUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes out-to-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
        scale: 110%;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        scale: 100%;
    }
}

@theme {
    --color-borders: #ffffff38;
    --breakpoint-lg: 950px;
    --breakpoint-md: 550px;
    --breakpoint-sm: 396px;
    --animate-showUp: showUp .2s linear 0s 1 forwards;
    --animate-outToIn: out-to-in .2s ease-in-out 0s 1 forwards;
}

html {
    font-size: 16px;
}
body {
    overflow: hidden;
    background-color: black;
}
#root {
    width: 100vw;
    min-width: 300px;
    text-align: center;
}
button {
    cursor: pointer;
}
input, button {
    outline: none;
}
*::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
*::-webkit-scrollbar-track {
    background: #1e1e1e; /* Dark track */
}
*::-webkit-scrollbar-thumb {
    background: #555; /* Darker thumb */
    border-radius: 6px;
}
*::-webkit-scrollbar-thumb:hover {
    background: #777;
}